.box__post {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title__post-h2 {
font-size: 20px;
margin-bottom: 15px;
}

.title__post {
  border-radius: 10px;
  border: 1px solid #4c4c4c;
  width: 400px;
  height: 50px;
  margin-bottom: 20px;
}
.text {
  border-radius: 10px;
  border: 1px solid #4c4c4c;
  width: 400px;
  height: 200px;
  margin-bottom: 20px;
}
.relise__btn {
  margin-bottom: 15px;
  background-color: blueviolet;
  border-radius: 10px;
  width: 200px;
  height: 40px;
}

.validationMessage { 
  color: red;
}

.validationMessage__hidden {
  display: none;
}